<ng-container class="relative h-svh overflow-hidden" *ngIf="!isSmallScreen && !motion.isCirclesHidden()">
  <app-magnetic-circle class="absolute hover:blur-[1px] blur-[2px]" [size]="16"/>
  <app-magnetic-circle class="absolute hover:blur-[1px] blur-[2px] bottom-[12rem] right-[10rem]" [size]="10"/>
  <app-magnetic-circle class="absolute hover:blur-[1px] blur-[2px] top-[12rem] right-[4rem]" [size]="6"/>
  <app-magnetic-circle class="absolute hover:blur-[1px] blur-[2px] top-[7rem] right-[20rem]" [size]="3"/>
  <app-magnetic-circle class="absolute hover:blur-[1px] blur-[2px] bottom-[2rem] left-[14rem]" [size]="4"/>
</ng-container>
