<div *ngIf="loggedIn" appContentStagger class="absolute overflow-hidden flex flex-row gap-2 z-10 top-3 right-3 ">
<!--  <div class="btn-secondary rounded-full flex justify-items-center p-2 cursor-pointer">-->
<!--    <app-magnifying-glass class="h-6 w-6"/>-->
<!--  </div>-->
  <div routerLink="/" class="btn-secondary rounded-full flex justify-items-center p-2 cursor-pointer">
    <app-home class="h-6 w-6"/>
  </div>
  <div routerLink="create" class="btn-secondary rounded-full flex justify-items-center p-2 cursor-pointer">
    <app-plus class="h-6 w-6"/>
  </div>
<!--  <div (click)="theme.toggleTheme()" class="btn-secondary rounded-full flex justify-items-center p-2 cursor-pointer">-->
<!--    <app-moon-stars-fill class="h-6 w-6" *ngIf="!theme.isDark"/>-->
<!--    <app-sun class="h-6 w-6" *ngIf="theme.isDark"/>-->
<!--  </div>-->
  <div (click)="logout()" class="btn-secondary rounded-full flex justify-items-center p-2 cursor-pointer">
    <app-logout-arrow class="h-6 w-6"/>
  </div>
</div>
