<div class="relative h-svh flex flex-col items-center justify-center">
  <!-- Заголовок -->
  <span class="text-primary text-3xl md:text-5xl font-rg font-light text-center mb-6">
    Добро пожаловать! <br /> Создавайте увлекательные квизы вместе с нами!
  </span>

  <!-- Описание -->
  <span class=" md:text-lg text-center mb-8 ">
    Войдите или зарегистрируйтесь, чтобы начать.
  </span>

  <!-- Кнопки действий -->
  <div class="flex gap-4">
    <button (click)="register()" class="btn-primary shape-btn-primary">
      Зарегистрироваться
    </button>
    <button (click)="login()" class="btn-secondary shape-btn-secondary">
      Войти
    </button>
  </div>
</div>
