<div class="relative pointer-events-none overflow-x-hidden">
  <div *ngIf="quizzes.length != 0" class="h-svh flex flex-col md:gap-12">
    <div appContentStagger  class="w-full p-24 grid grid-flow-row-dense grid-cols-1 md:grid-cols-3 grid-rows-3 gap-4">
      <div *ngFor="let quiz of quizzes" class="pointer-events-auto shadow-lg shadow-shadow-card-dark card shape-card flex flex-col justify-center items-center gap-2 ">
        <h1 class="text-4xl text-wrap">{{quiz.name}}</h1>
        <div class="flex flex-row gap-2">
          <div *ngFor="let tag of quiz.tags" class="px-3 py-1 border dark:bg-dark-main-accent border-light-light-accent text-light-text-secondary rounded-full text-sm">
            {{tag}}
          </div>
        </div>
        <span>Изменен: {{quiz.modifiedAt}}</span>
        <div class="flex flex-row gap-2 ">
          <button (click)="play(quiz.id)" [disabled]="!quiz.canCreateLobby" class="btn-primary shape-btn-primary">Играть</button>
          <button [routerLink]="['/configure/' + quiz.id]" class="btn-secondary shape-btn-secondary">
            <app-pencil-square />
          </button>
          <button (click)="delete(quiz.id)" class="btn-delete shape-btn-secondary">
            <app-trash />
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="pageInfo" class="flex flex-row justify-center items-center pointer-events-auto">
      <button (click)="prevPage()" [disabled]="!pageInfo.hasPrevPage" class="rounded-full btn-secondary px-4 py-2 cursor-pointer"><</button>
      <span class="text-xl mx-4">{{pageInfo.currentPage}}</span>
      <button  (click)="nextPage()" [disabled]="!pageInfo.hasNextPage" class="rounded-full btn-secondary px-4 py-2 cursor-pointer">></button>
    </div>
  </div>

  <div *ngIf="quizzes.length == 0" class="h-svh flex flex-col justify-center items-center">
    <!-- Заголовок -->
    <h1 class="text-primary text-4xl font-light">
      Создай свой первый
      <app-typewriter [texts]="quizWords" />
    </h1>

    <!-- Кнопки действий -->
    <div class="relative pointer-events-auto">
      <button routerLink="create" class="btn-primary shape-btn-primary mt-4">
        Создать
      </button>
    </div>
  </div>
</div>
