<div *ngIf="quiz" class="flex flex-col ">
  <span appSlideTransition class="quiz-name text-6xl dark:text-gray-100">{{quiz.name}}</span>
  <div appContentStagger *ngIf="quiz.tags.length != 0" direction="right" class="flex flex-row gap-2">
    <div class="btn-secondary rounded-full px-2 py-1 hover:cursor-none" *ngFor="let tag of quiz.tags">{{tag}}</div>
  </div>
  <div *ngIf="questions.length == 0" class="mt-10 text-xl dark:text-gray-100">
    Этот квиз пустой...
    <br/>
    Нужно <app-typewriter [texts]="['добавить новых вопросов', 'подумать как следует', 'отдохнуть.']"/>
  </div>
  <div *ngIf="questions.length != 0"
       cdkDropList [cdkDropListDisabled]="!canDrag"
       (cdkDropListDropped)="drop($event)"
       appContentStagger direction="right"
       class="flex flex-col mt-5 gap-2 w-full">
    <div *ngFor="let quest of questions" cdkDrag class="relative flex flex-row gap-2 rounded-md">
      <div cdkDragHandle class="btn-secondary shape-btn-secondary cursor-move self-center">
        <app-arrows-pointing-out />
      </div>
        <div class="btn-secondary shape-btn-primary grow">
          <span class="text-light-main-accent text-sm">{{getQuestionType(quest)}}</span>
          <br/>
          <span>{{quest.text}}</span>
        </div>
      <div (click)="routeToEdit(quest)" class="btn-secondary shape-btn-secondary self-center cursor-pointer">
        <app-pencil-square />
      </div>
      <div (click)="delete(quest.id)" class="btn-delete shape-btn-secondary self-center cursor-pointer">
        <app-trash />
      </div>
    </div>
  </div>
</div>

